* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.App {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.information {
  display:flex;
  flex-direction:column;
  width:100%;
  justify-content:center;
  align-items:center;
}

.information input {
  width:300px;
  margin:5px 0 0;
  height:30px;
}

button { 
  width:300px;
  margin:15px 0 0;
  height:30px;
}
button:hover { 
  cursor:pointer;
}

.employees {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  background:#c6c6c6;
}
.employee {
  display:flex;
  flex-direction:column;
}
